body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#new-game {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
}

.board {
    border: solid 1px black;
    font-family: monospace;
    font-weight: bold;
    font-size: 200%;
    
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .board td {
    text-align: center;
    width: 1.5em;
    height: 1.5em;
  }
  
  .msg {
    padding: 1em;
  }
  
  .msg.ok {
    color: white;
    background-color: green;
  }
  
  .msg.err {
    color: white;
    background-color: red;
  }